/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.ftn{
   width: 400px; 
}
.ft1{
   width: 500px  !important;
}
.tm{
   margin-top: 50px;!important
}
.ftn1{
   width: 600px;
}
       
.space-comment{
   padding-left: 200px;
}       
.space-comment2{
padding-left: 10px;
}

.profile-menu .dropdown-menu {
    right: 0;
    left: unset;
}
 .profile-menu .fa-fw {
    margin-right: 10px;
}
 .toggle-change::after {
    border-top: 0;
    border-bottom: 0.3em solid;
}
 
